Repository oasisprotocol/sapphire-paratime, pull requests merged in 2023-09, with the labels that each got.

#183 ci: Bump Node.js to v18
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/contracts-test.yaml
  clients/js/test/cipher.spec.ts
Labels: js

#182 integrations/hardhat: remove oasislabs/hardhat fork
  .github/workflows/ci-test.yaml
  integrations/hardhat/.mocharc.json
  integrations/hardhat/package.json
  integrations/hardhat/src/index.ts
  integrations/hardhat/test/fixture-projects/hardhat-project/contracts/Lock.sol
  integrations/hardhat/test/fixture-projects/hardhat-project/hardhat.config.ts
  integrations/hardhat/test/helpers.ts
  integrations/hardhat/test/project.test.ts
  pnpm-lock.yaml
Labels: dependencies, contracts

#170 subcall wrapper + unit tests, and staking address generation
  contracts/contracts/ConsensusUtils.sol
  contracts/contracts/Sapphire.sol
  contracts/contracts/Subcall.sol
  contracts/contracts/tests/SubcallTests.sol
  contracts/package.json
  contracts/test/subcall.ts
  pnpm-lock.yaml
Labels: contracts

#187 contracts: Add solidity API reference
  .github/workflows/ci-docs.yaml
  .github/workflows/contracts-test.yaml
  contracts/README.md
  contracts/foundry.toml
Labels: p:2, dependencies, contracts
