Repository oasisprotocol/sapphire-paratime, pull requests merged in 2023-12, with the labels that each got.

#221 Publish JS client 1.2.0
  clients/js/CHANGELOG.md
  clients/js/package.json
Labels: p:1, js, blocked, client

#236 ci: fix NPM publish + minor contracts tests fix
  .github/workflows/publish.yaml
  clients/js/package.json
  contracts/test/gas.ts
Labels: p:0, github_actions, js, contracts, client

#218 clients/python
  .github/workflows/ci-lint.yaml
  .github/workflows/contracts-test.yaml
  clients/py/.gitignore
  clients/py/Makefile
  clients/py/README.md
  clients/py/requirements.dev.txt
  clients/py/requirements.txt
  clients/py/sapphirepy/__init__.py
  clients/py/sapphirepy/deoxysii.py
  clients/py/sapphirepy/envelope.py
  clients/py/sapphirepy/error.py
  clients/py/sapphirepy/sapphire.py
  clients/py/sapphirepy/tests/__init__.py
  clients/py/sapphirepy/tests/test_deoxysii.py
  clients/py/sapphirepy/tests/test_e2e.py
  clients/py/sapphirepy/tests/testdata/Deoxys-II-256-128-official-20190608.json
  clients/py/sapphirepy/tests/testdata/Deoxys-II-256-128.json
  clients/py/sapphirepy/tests/testdata/Greeter.abi
  clients/py/sapphirepy/tests/testdata/Greeter.bin
  clients/py/sapphirepy/tests/testdata/Greeter.sol
  clients/py/setup.py
Labels: client, python

#230 Update addresses.md with wrose.oasis.io link
  docs/addresses.md
Labels: docs

#232 Bump sapphire-contracts to 0.2.5
  contracts/package.json
Labels: contracts

#237 docs: updated README.md with extra badges & links
  README.md
Labels: p:2, docs

#234 contracts: remove custom reverts and ERC2771Context
  contracts/contracts/opl/Enclave.sol
  contracts/contracts/opl/Endpoint.sol
Labels: p:2, contracts

#202 contracts: initial fixes for delegation tests + staking.sol
  contracts/CHANGELOG.md
  contracts/contracts/Subcall.sol
  contracts/contracts/tests/SubcallTests.sol
  contracts/package.json
  contracts/test/semantics.ts
  contracts/test/subcall.ts
Labels: p:1, contracts
