Repository oasisprotocol/sapphire-paratime, pull requests merged in 2024-10, with the labels that each got.

#419 integrations/viem: doctests
  integrations/viem-v2/README.md
  integrations/viem-v2/hardhat.config.cjs
  integrations/viem-v2/package.json
  integrations/viem-v2/test/docs.test.ts
  pnpm-lock.yaml
Labels: docs, javascript, integrations

#434 docs: add router gateway addresses
  docs/addresses.md
Labels: docs

#438 contracts: minor fixes to reduce warnings from solhint
  contracts/.prettierignore
  contracts/.solhint.json
  contracts/contracts/OPL.sol
  contracts/contracts/WrappedROSE.sol
  contracts/contracts/tests/Gas.sol
  contracts/contracts/tests/SemanticTests.sol
  contracts/contracts/tests/auth/SiweAuthTests.sol
Labels: contracts

#429 docs: Sapphire localnet references consolidated page under tools
  docs/guide.mdx
  docs/network.mdx
Labels: p:2, blocked, docs

#439 contracts: implement HMAC SHA512-256, as it's used throughout the Oasis ecosystem
  contracts/contracts/hmac_sha512_256.sol
  contracts/contracts/tests/HashTests.sol
  contracts/package.json
  contracts/test/hashes.ts
Labels: contracts

#446 contracts/test: Fix intermittent initial gas error
  contracts/test/gas.ts
Labels: contracts, bug, tests

#440 contracts: move CBOR related encoding & decoding into separate module
  contracts/contracts/CBOR.sol
  contracts/contracts/Subcall.sol
  contracts/contracts/tests/SubcallTests.sol
  contracts/contracts/tests/TestCBOR.sol
  contracts/package.json
  contracts/test/cbor.spec.ts
  contracts/test/subcall.ts
  contracts/tsconfig.json
Labels: contracts

#411 clients: Support Brave wallet default
  clients/js/src/provider.ts
Labels: p:1, client, javascript, bug, integrations
