Repository oasisprotocol/sapphire-paratime, pull requests merged in 2024-09, with the labels that each got.

#381 ci: check for /CONTAINER_READY file as `sapphire-localnet` healthcheck
  .github/wait-until-ready.sh
  .github/workflows/contracts-test.yaml
Labels: github_actions

#373 Add more comments for cbor in Subcall.sol
  contracts/contracts/Subcall.sol
Labels: contracts

#383 clients/viem: use interval for routine fetching, unref intervalId
  integrations/viem-v2/package.json
  integrations/viem-v2/scripts/test.js
  integrations/viem-v2/src/index.ts
Labels: client, javascript, bug

#388 packaging: remove semver tags from package versions
  clients/js/package.json
  integrations/ethers-v6/package.json
  integrations/hardhat/package.json
  integrations/viem-v2/CHANGELOG.md
  integrations/viem-v2/package.json
  integrations/wagmi-v2/package.json
Labels: client, javascript, packaging

#394 docs: Quickstart cleanup
  docs/quickstart.mdx
Labels: p:1, docs

#401 integrations/ethers-v6: make sapphire-paratime a non-optional dependency
  integrations/ethers-v6/package.json
Labels: client, javascript, bug

#402 docs: Add cheatsheet and improve organization
  docs/guide.mdx
  docs/images/cheatsheet.pdf
  docs/verification.md
Labels: p:1, docs

#403 clients/js: fix lint warnings in tests
  clients/js/test/utils.ts
Labels: javascript

#407 packaging: bump clients/js to 2.0.1 and update CHANGELOG
  clients/js/CHANGELOG.md
  clients/js/package.json
Labels: client, javascript, packaging

#408 packaging: integrations/ethers-v6 v6.0.1
  integrations/ethers-v6/CHANGELOG.md
  integrations/ethers-v6/package.json
Labels: javascript, packaging, integrations

#398 viem2 integration: update readme
  integrations/viem-v2/README.md
Labels: docs

#409 docs: Add remaining README.mdx file from docs repository
  docs/README.mdx
Labels: p:2, docs

#405 docs: Update instructions for new doc pages
  README.md
Labels: p:2, docs

#406 docs: Update main Sapphire page content
  docs/README.mdx
  docs/browser.md
  docs/guide.mdx
Labels: docs

#376 docs: createx addresses
  docs/addresses.md
Labels: docs

#410 docs: Add EIP-1167 minimal proxy section
  docs/deployment.md
Labels: p:2, docs

#416 docs: Remove cbridge listings for deprecated networks Goerli and Mumbai
  docs/_fetch-cbridge-tokens.py
  docs/addresses.md
Labels: p:2, docs

#422 clients/go: use existing RPC connection to retrieve calldata public key
  .github/workflows/ci-test-go.yaml
  .github/workflows/ci-test.yaml
  clients/go/cipher.go
  clients/go/compat.go
  clients/go/compat_test.go
Labels: go, client, bug

#375 contracts: fix intermittent failures in auth.ts tests
  contracts/contracts/tests/auth/SiweAuthTests.sol
  contracts/test/auth.ts
Labels: contracts, bug, tests
