Repository oasisprotocol/sapphire-paratime, pull requests merged in 2024-07, with the labels that each got.

#332 sapphire-contracts: Add EIP-4361 SIWE parser and base contract
  contracts/contracts/DateTime.sol
  contracts/contracts/SiweParser.sol
  contracts/contracts/auth/A13e.sol
  contracts/contracts/auth/SiweAuth.sol
  contracts/contracts/tests/DateTimeTests.sol
  contracts/contracts/tests/SiweParserTests.sol
  contracts/contracts/tests/auth/SiweAuthTests.sol
  contracts/package.json
  contracts/test/auth.ts
  contracts/test/datetime.ts
  contracts/test/gas.ts
  contracts/test/siweparser.ts
  pnpm-lock.yaml
Labels: contracts

#325 contracts: fix CBOR unsigned int decoding in Subcall.sol
  contracts/CHANGELOG.md
  contracts/contracts/Subcall.sol
  contracts/contracts/tests/SubcallTests.sol
  contracts/package.json
  contracts/test/subcall.ts
Labels: contracts, solidity

#341 contracts: Fix subcall undelegation done
  contracts/contracts/Subcall.sol
Labels: p:0, contracts, client, solidity
