Repository oasisprotocol/sapphire-paratime, pull requests merged in 2024-03, with the labels that each got.

#285 Fix contracts dependencies
  contracts/package.json
  pnpm-lock.yaml
Labels: contracts

#254 docs: added script to retrieve Celer cBridge token addresses
  docs/_fetch-cbridge-tokens.py
  docs/addresses.md
Labels: p:2, docs

#289 Fix CI dependencies
  .github/workflows/ci-docs.yaml
Labels: p:1, dependencies, contracts, docs

#290 Remove OpenZeppelin Context
  contracts/contracts/opl/Endpoint.sol
Labels: dependencies, contracts

#291 Added Makefile to `runtime` directory to make debug build for testing
  runtime/Makefile
  runtime/README.md
Labels: p:2, rust

#295 runtime: Fix README.md ending ticks
  runtime/README.md
Labels: docs
