Repository oasisprotocol/sapphire-paratime, pull requests merged in 2024-01, with the labels that each got.

#261 Fixes some minor issues to make it work with Ethers v5 & v6,
  clients/js/.gitignore
  clients/js/package.json
  clients/js/src/cipher.ts
  clients/js/src/compat.ts
  pnpm-lock.yaml
Labels: dependencies, js, client

#267 clients/js: added regression tests for ethers v5 & ethers v6
  clients/js/.eslintrc.cjs
  clients/js/CHANGELOG.md
  clients/js/README.md
  clients/js/package.json
  clients/js/scripts/proxy.ts
  clients/js/src/compat.ts
  clients/js/test/compat.spec.ts
  contracts/contracts/tests/Omnibus.sol
  examples/ethersv5-ts-esm/package.json
  examples/ethersv5-ts-esm/src/TestErc20Token.ts
  examples/ethersv5-ts-esm/src/index.ts
  examples/ethersv5-ts-esm/tsconfig.json
  examples/ethersv6-ts-esm/package.json
  examples/ethersv6-ts-esm/src/TestErc20Token.ts
  examples/ethersv6-ts-esm/src/index.ts
  examples/ethersv6-ts-esm/tsconfig.json
  examples/web3js-ts-esm/package.json
  examples/web3js-ts-esm/src/TestErc20Token.ts
  examples/web3js-ts-esm/src/index.ts
  examples/web3js-ts-esm/tsconfig.json
  pnpm-lock.yaml
Labels: p:1, js

#231 Add Security documentation to ensure finality
  docs/security.md
Labels: p:1, js, client, docs
