Repository oasisprotocol/sapphire-paratime, pull requests merged in 2025-02, with the labels that each got.

#492 contracts: Remove Sapphire.randomBytes() obsolete warning
  contracts/contracts/Sapphire.sol
Labels: contracts, docs

#491 docs: Update API reference links and SiweAuth contracts
  docs/develop/authentication.md
Labels: docs

#431 Initial work to implement Sapphire snap connection
  clients/js/src/cipher.ts
  clients/js/src/provider.ts
  clients/js/test/cipher.spec.ts
  integrations/ethers-v6/src/index.ts
Labels: client, javascript

#498 fix: diagrams to Oasis color schema
  docs/diagrams/c10l-smart-contract-call.mmd.svg
  docs/diagrams/c10l-smart-contract-tx.mmd.svg
  docs/diagrams/siwe-sapphire-flow.mmd.svg
Labels: docs

#503 docs: rework Browser chapter
  docs/develop/README.mdx
  docs/develop/browser.md
  docs/images/hardhat-boilerplate-frontend1.png
  docs/images/hardhat-boilerplate-frontend2.png
  docs/images/hardhat-boilerplate-frontend3.png
  examples/hardhat-boilerplate/frontend/src/components/Dapp.js
  integrations/ethers-v6/README.md
  integrations/viem-v2/README.md
  integrations/wagmi-v2/README.md
Labels: docs

#517 docs: Fix wording and link
  docs/develop/authentication.md
  docs/examples.mdx
Labels: docs

#518 integrations: Publish `sapphire-hardhat` 2.22.2
  integrations/hardhat/CHANGELOG.md
  integrations/hardhat/package.json
Labels: p:1, javascript

#523 docs: Summarize current NPM package release process
  README.md
Labels: dependencies, contracts, client, docs
